USERBOT__API_ID=
USERBOT__API_HASH=
REDIS__NAME=0
REDIS__HOST=127.0.0.1
REDIS__PORT=6379
REDIS__USER=default
REDIS__PASSWORD=userbot_database_password
CODEX__CREDENTIALS_PATH=.config/codex-oauth.json
